#output0, #output1, #output2, .showham {
  display: none;
}

body  {
  background-color: lightblue;
  align-content: center;
}

.hamandcheese {
    cursor: pointer;
    color: #0088cc;
}

.hamandcheese:hover {
  text-decoration: underline;
}

