#output0, #output1, #output2, .showham {
  display: none;
}

body  {
  background-color: lightblue;
  align-content: center;
}

.expandable0, .expandable1 {
    cursor: pointer;
    color: #0088cc;
}

.expandable0:hover, .expandable1 {
  text-decoration: underline;
}

#output1 img {
  border-radius: 33%;
  image-rendering: optimizeSpeed;
}